.theme-btn {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #4f46e5;
  color: white;
  margin-bottom: 15px;
  font-size: 23px;
  display: flex;
  justify-content: flex-end;
}

.theme-btn:hover {
  opacity: 0.9;
}
