.app {
  min-height: 100vh;
  background: white;
  color: black;
  padding: 20px;
}

.app.dark {
  background: #121212;
  color: white;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-style:italic ;
}

.todo-list {
  width: 100%;
  max-width: 17.5rem; 
  margin: 20px auto;
  padding: 0;
  list-style: none;
  font-size: 20px;
  
}

.btn-delete {
  font-size: 15px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(171, 183, 183);
  font-style: italic;
  white-space: nowrap;
}